<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c1420ea119.js" crossorigin="anonymous"></script>

  <title>Files | Justify</title>
</head>
<body>

<header class="mb-4">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Justify</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/requests">Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/files">Files</a>
          </li>
        </ul>
        <form class="d-flex">
          <span class="navbar-text me-3" th:text="${user.displayName}"></span>
          <button type="button" class="btn btn-primary me-3"
                  data-bs-toggle="modal" data-bs-target="#request-modal">
            New Request
          </button>
          <button class="btn btn-sm btn-outline-primary me-2" type="button" id="btnLogout">Log out</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<!-- Body -->
<div class="container">
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="f : ${files}">
        <td><a th:href="${f.downloadUrl}" th:text="${f.name}"></a></td>
        <td th:text="${f.size}"></td>
        <td>
          <div class="btn-group btn-group-sm" role="group">
            <button type="button"
                    class="btn btn-danger"
                    th:attr="onclick='deleteFile(\'' + ${f.id} + '\')'">
              <i class="fal fa-trash-alt" style="color: #fff"></i>
            </button>
          </div>
        </td>
      </tr>
      <tr th:if="${#lists.isEmpty(files)}">
        <td colspan="3">No files.</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<footer class="footer container d-flex align-items-end justify-content-center">
  <p><small>&copy; Rotem Moses 2021. Justify is available under the MIT license.</small></p>
</footer>

<!-- Request modal -->
<div class="modal fade" id="request-modal" tabindex="-1" aria-labelledby="request-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="request-modal-label">Create request</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><small>For an entire day, select periods 0-15.</small></p>
        <form>
          <div class="mb-3">
            <label for="date-start" class="col-form-label">Start date:</label>
            <input type="date" class="form-control" id="date-start">
          </div>
          <div class="mb-3">
            <label for="period-start" class="col-form-label">Start period:</label>
            <select class="form-select" id="period-start">
              <option selected value="0">0</option>
              <option th:each="i : ${#numbers.sequence(1, 15)}" th:value="${i}" th:text="${i}"></option>
            </select>
          </div>
          <div class="mb-3">
            <label for="date-end" class="col-form-label">End date:</label>
            <input type="date" class="form-control" id="date-end">
          </div>
          <div class="mb-3">
            <label for="period-end" class="col-form-label">End period:</label>
            <select class="form-select" id="period-end">
              <option th:each="i : ${#numbers.sequence(0, 14)}" th:value="${i}" th:text="${i}"></option>
              <option selected value="15">15</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="event" class="col-form-label">Event:</label>
            <select class="form-select" id="event">
              <option th:each="e : ${events}" th:value="${e.code}" th:text="${e.name}"></option>
            </select>
          </div>
          <div class="mb-3">
            <label for="approval" class="col-form-label">Requested approval:</label>
            <select class="form-select" id="approval">
              <option th:each="j : ${justifications}" th:value="${j.code}" th:text="${j.name}"></option>
            </select>
          </div>
          <div class="mb-3">
            <label for="note" class="col-form-label">Note:</label>
            <input type="text" class="form-control" id="note" placeholder="Note">
          </div>
          <div class="mb-3">
            <label for="files" class="col-form-label">Files:</label>
            <input type="file" class="form-control" id="files" multiple>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="sendRequest">Submit</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/students.js"></script>
<script src="/js/student-files.js"></script>
</body>
</html>